<body>
	<header>
       <div data-sly-resource="${'headerPar' @ resourceType='wcm/foundation/components/parsys'}"></div>
	</header>
    <section>
        <div>
			<div data-sly-resource="${'productListing' @ resourceType='com.aem.communitydemo/components/content/ProductListing'}"></div>
        </div>
        <div >
            <div style="width:50%;float:left">
                <div data-sly-resource="${'leftPar' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
            <div style="width:50%;float:right">
                <div data-sly-resource="${'rightPar' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
		</div>
	</section>
    <br><br><br><br><br><br>
    <footer>
       <div data-sly-resource="${'footerPar' @ resourceType='wcm/foundation/components/parsys'}"></div>
	</footer>
</body>