<body>
    <header>
        <div data-sly-resource="${'headerpar' @ resourceType='wcm/foundation/components/iparsys'}"></div>
    </header>
	<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div data-sly-resource="${'sectionpar' @ resourceType='wcm/foundation/components/parsys'}"></div>
                </div>
            </div>
    	</div>
    </section>
    <footer>
        <div data-sly-resource="${'footerpar' @ resourceType='wcm/foundation/components/iparsys'}"></div>
    </footer>
</body>